.game-tile {
    appearance: none;
    background-color: var(--white);
    border: 2px solid var(--light-gray);
}

.game-tile__image {
    aspect-ratio: 1;
    width: 100%;
    background-color: var(--light-gray);
    outline: 2px solid var(--light-gray);

    /* border: 2px solid var(--light-gray); */
}