.cta-button {
    padding: var(--spacing-l);
    font-family: var(--bread-font);
    font-size: var(--font-size-l);
    border-radius: var(--spacing-s);
    font-weight: 800;
    box-shadow: var(--3d-shadow);
    border: 2px solid black;
    filter: drop-shadow(2px 2px 0 rgba(0, 0, 0, 0.5));
    transition: transform ease-in-out .2s;
}

.cta-button--proceed {
    background-color: #2DDF4B;
}

.cta-button--cancel {
    background-color: var(--accent4);
}

.cta-button--info {
    background-color: var(--accent1);
}

.cta-button__button-text {
    color: white;
    text-shadow: var(--text-outline--black);
    filter: drop-shadow(1px 1px 0 #444);
}


.cta-button--clicked {
    animation: CTAbuttonPress .25s ease-in-out 1 forwards;
}

.cta-button--look-at-me {
    animation: lookAtMe 3s linear infinite forwards;
    animation-delay: 4s;
}

@keyframes CTAbuttonPress {

    0%,
    80% {
        transform: rotateX(0deg), translateX(0);
        opacity: 1;
    }

    50% {
        transform: rotateX(180deg);
    }

    100% {
        transform: translateX(300%);
        opacity: 0;
    }
}


@keyframes lookAtMe {

    0%,
    35%,
    100% {
        transform: rotateZ(0)
    }

    20% {
        transform: rotateZ(25deg);
    }

    25% {
        transform: rotateZ(-25deg)
    }

    30% {
        transform: rotateZ(25deg)
    }

}

@media (hover: hover) and (pointer: fine) {
    .cta-button:hover {
        transform: translateY(-2px);
        cursor: pointer;
    }
}