.game-square {
    aspect-ratio: 1;
    width: 100%;
    position: relative;
    appearance: none;
    border: none;
    /* background-color: #C0D8E0; */
    /* background-color: #D4EAC8; */
    /* background-color: #CBEEF3; */
    background-color: var(--accent3);
    box-shadow: var(--3d-shadow);
    color: var(--light-gray);
    text-shadow: var(--text-outline--black);
    font-size: var(--font-size-m);
    font-weight: 600;
}

.game-square__image {
    aspect-ratio: 1;
    width: 100%;
    background-color: var(--light-gray);
    object-fit: contain;
    box-shadow: var(--3d-shadow);
}

.game-square__image--selected {
    z-index: 2;
    border: 2px solid var(--accent1);
    background-color: var(--accent2);
    scale: 1.2;
}



.game-square__image--ending-square-connected,
.game-square__image--starting-square-connected {
    animation: correctConnection 1s linear 1 forwards;
}

.game-square__image--starting-square-unconnected,
.game-square__image--ending-square-unconnected {
    animation: incorrectConnection 1s linear 1 forwards;
}

@keyframes correctConnection {

    0%,
    20% {
        background-color: rgb(14, 156, 14);
    }


    10%,
    30%,
    100% {
        background-color: var(--light-gray)
    }
}

@keyframes incorrectConnection {

    0%,
    20% {
        background-color: var(--accent4);
    }


    10%,
    30%,
    100% {
        background-color: var(--light-gray)
    }
}

.game-square__image--ending-square-connected::after {
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    top: 50%;
    left: 50%;


}

.game-square__image--starting-square-up {
    box-shadow: inset 0 8px var(--accent4);
}

.game-square__image--starting-square-down {
    box-shadow: inset 0 -8px var(--accent4);
}

.game-square__image--starting-square-left {
    box-shadow: inset 8px 0 var(--accent4);
}

.game-square__image--starting-square-right {
    box-shadow: inset -8px 0 var(--accent4);
}

.game-square__image--ending-square-up {
    box-shadow: inset 0 8px var(--accent1);
}

.game-square__image--ending-square-down {
    box-shadow: inset 0 -8px var(--accent1);
}

.game-square__image--ending-square-left {
    box-shadow: inset 8px 0 var(--accent1);
}

.game-square__image--ending-square-right {
    box-shadow: inset -8px 0 var(--accent1);
}

.game-square__image--is-previous {
    background-color: lawngreen;
}

.game-square__image--is-active {
    animation: active .5s linear infinite forwards;
}

@keyframes active {

    0%,
    100% {
        background-color: #ff5e00;
    }

    50% {
        background-color: var(--light-gray);
    }
}

.game-square__image[data-index="0"],
.game-square[data-index="0"] {
    border-radius: var(--spacing-s) 0 0 0;
}

.game-square__image[data-index="4"],
.game-square[data-index="4"] {
    border-radius: 0 var(--spacing-s) 0 0;
}

.game-square__image[data-index="20"],
.game-square[data-index="20"] {
    border-radius: 0 0 0 var(--spacing-s);
}

.game-square__image[data-index="24"],
.game-square[data-index="24"] {
    border-radius: 0 0 var(--spacing-s) 0;
}