.game-square {
    position: relative;
    appearance: none;
    background-color: var(--white);
    border: 2px solid var(--light-gray);
}

.game-square__image {
    aspect-ratio: 1;
    width: 100%;
    background-color: var(--light-gray);
}

.game-square__image--selected {
    z-index: 2;
    border: 2px solid red;
    background-color: var(--accent2);
    scale: 1.2;
}

.game-square__image--starting-square {
    background-color: var(--accent1);

}

.game-square__image--ending-square {
    background-color: hotpink;
}

.game-square__image--is-active {
    background-color: aqua;
}

.game-square__image[data-index="0"],
.game-square[data-index="0"] {
    border-radius: var(--spacing-s) 0 0 0;
}

.game-square__image[data-index="4"],
.game-square[data-index="4"] {
    border-radius: 0 var(--spacing-s) 0 0;
}

.game-square__image[data-index="20"],
.game-square[data-index="20"] {
    border-radius: 0 0 0 var(--spacing-s);
}

.game-square__image[data-index="24"],
.game-square[data-index="24"] {
    border-radius: 0 0 var(--spacing-s) 0;
}