.game-square {
    aspect-ratio: 1;
    width: 100%;
    position: relative;
    display: grid;
    place-self: center;
    place-items: center;
    appearance: none;
    border: .5px solid var(--gray);
    box-shadow: var(--3d-shadow-big);
    border-radius: 4px;
    background: var(--bg-gamesquare);
    background-image: url(/images/questionmark.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 40%;
}

.game-square-wrapper {
    display: grid;
    place-self: center;
    transition: scale .1s linear;
    position: relative;
    background-color: var(--light-gray);
    aspect-ratio: 1;
    width: 100%;
    border: .5px solid var(--gray);
    border-radius: 4px;
}

.game-square-wrapper--disabled,
.game-square--disabled {
    opacity: .7;
    pointer-events: none;
}

.game-square__image {
    object-fit: contain;
    aspect-ratio: 1;
    width: 100%;
    filter: drop-shadow(1px 1px 1px rgba(0, 0, 0, 0.4));
    animation: fadeIn .2s cubic-bezier(0.175, 0.885, 0.32, 1.575);
}

@keyframes fadeIn {
    0% {
        opacity: 0.5;
        transform: scale(0.8);
    }

    100% {
        opacity: 1;
        transform: scale(1);
    }
}

.game-square-wrapper--is-changeable {
    z-index: 2;
    outline: 2px solid var(--accent1);
    background-color: var(--accent2);
}

.game-square-wrapper--connected {
    animation: victoryRoad 2s linear infinite;
    background: rgb(5, 181, 82);
    background: linear-gradient(90deg, rgb(6, 240, 107) 0%, rgb(5, 214, 96) 50%, rgb(3, 172, 76) 100%);
    background-size: 200% 100%;
}

.game-square-wrapper--clear-path {
    animation: goldenRoad 3s linear infinite;
    background-color: var(--accent1);
    background: linear-gradient(90deg, rgb(253, 211, 42) 0%, rgb(253, 211, 42) 50%, rgb(219, 125, 1) 100%);
    background-size: 200% 100%;
}

@keyframes victoryRoad {
    0% {
        background-position: 0% 50%;

    }

    50% {
        background-position: 100% 50%;

    }

    100% {
        background-position: 0% 50%;

    }
}

@keyframes goldenRoad {
    0% {
        background-position: 0% 50%;

    }

    25% {
        background-position: 100% 50%;

    }

    50% {
        background-position: 100% 50%;

    }

    75% {
        background-position: 100% 50%;

    }

    100% {
        background-position: 0% 50%;
    }
}

.game-square-wrapper--selected {
    z-index: 10000;
    outline: 2px solid var(--accent1);
    background-color: var(--accent2);
    scale: 1.2;
}

.game-square-wrapper--ending-square-connected,
.game-square-wrapper--starting-square-connected {
    animation: correctConnection 2s linear 1 forwards;
}

.game-square-wrapper--starting-square-unconnected,
.game-square-wrapper--ending-square-unconnected {
    animation: incorrectConnection 3s linear infinite;
}

@keyframes correctConnection {

    0%,
    20% {
        background-color: rgb(14, 156, 14);
    }

    10%,
    30%,
    100% {
        background-color: var(--light-gray)
    }
}

@keyframes incorrectConnection {

    0%,
    20% {
        background-color: var(--accent4);
    }

    10%,
    30%,
    100% {
        background-color: var(--light-gray)
    }
}

.game-square-wrapper--is-active {
    animation: victoryRoad 2s linear infinite;
    background: rgb(255, 255, 255);
    background: linear-gradient(90deg, rgb(218, 213, 213) 0%, rgb(147, 153, 150) 50%, rgb(129, 126, 126) 100%);
    background-size: 200% 100%;
}

@keyframes active {

    0%,
    100% {
        background-color: #ff5e00;
    }

    50% {
        background-color: var(--light-gray);

    }
}

.game-square-wrapper[data-index="0"],
.game-square[data-index="0"] {
    border-radius: var(--spacing-s) 4px 4px 4px;
}

.game-square-wrapper[data-index="4"],
.game-square[data-index="4"] {
    border-radius: 4px var(--spacing-s) 4px 4px;
}

.game-square-wrapper[data-index="20"],
.game-square[data-index="20"] {
    border-radius: 4px 4px 4px var(--spacing-s);
}

.game-square-wrapper[data-index="24"],
.game-square[data-index="24"] {
    border-radius: 4px 4px var(--spacing-s) 4px;
}

.game-square-wrapper[data-index="0"] {
    box-shadow: inset 4px 4px 8px 0 rgba(0, 0, 0, 0.3);
}

.game-square-wrapper[data-index="1"],
.game-square-wrapper[data-index="2"],
.game-square-wrapper[data-index="3"] {
    box-shadow: inset 0 4px 8px 0 rgba(0, 0, 0, 0.3);
}


.game-square-wrapper[data-index="4"] {
    box-shadow: inset -4px 4px 8px 0 rgba(0, 0, 0, 0.3);
}

.game-square-wrapper[data-index="9"],
.game-square-wrapper[data-index="14"],
.game-square-wrapper[data-index="19"] {
    box-shadow: inset -4px 0 8px 0 rgba(0, 0, 0, 0.3);
}

.game-square-wrapper[data-index="5"],
.game-square-wrapper[data-index="10"],
.game-square-wrapper[data-index="15"] {
    box-shadow: inset 4px 0 8px 0 rgba(0, 0, 0, 0.3);
}

.game-square-wrapper[data-index="20"] {
    box-shadow: inset 4px -4px 8px 0 rgba(0, 0, 0, 0.3);
}

.game-square-wrapper[data-index="21"],
.game-square-wrapper[data-index="22"],
.game-square-wrapper[data-index="23"] {
    box-shadow: inset 0 -4px 8px 0 rgba(0, 0, 0, 0.3);
}

.game-square-wrapper[data-index="24"] {
    box-shadow: inset -4px -4px 8px 0 rgba(0, 0, 0, 0.3);
}