.jumbotron-info-field {
    display: grid;
    grid-template-columns: auto 1fr;
    grid-template-rows: repeat(2, 1fr);
    column-gap: var(--spacing-l);
}

.jumbotron-info-field--preparing {
    filter: grayscale(1);
}

.jumbotron-info-field__icon {
    grid-row: 1/-1;
    place-self: center;
    background-color: var(--accent1);
    aspect-ratio: 1;
    width: 2.2rem;
    border-radius: 50%;
    padding: var(--spacing-xs);
    box-shadow: 2px 2px 4px 0 rgba(0, 0, 0, 0.2), 0 0 0 4px var(--accent2), inset 0 0 0 1px rgba(0, 0, 0, 0.3), 0 0 0 5px rgba(0, 0, 0, 1), var(--3d-shadow);
    filter: drop-shadow(1px 1px 0 rgba(0, 0, 0, 0.5));

}

.jumbotron-info-field__wrapper {
    grid-row: 1/-1;
    align-self: center;
}

.jumbotron-info-field__data,
.jumbotron-info-field__unit-info {
    color: var(--bg-primary);
}

.jumbotron-info-field__data {
    font-size: var(--font-size-l);

}

.jumbotron-info-field__data--final-seconds {
    scale: 1.2;
    transform-origin: left;
    transition: scale ease-in-out;
    animation: finalSeconds 1s linear infinite forwards;
}

.jumbotron-info-field__unit-info {
    font-weight: 300;
    font-size: var(--font-size-xs);
    align-self: center;
}

@keyframes finalSeconds {
    0% {
        filter: drop-shadow(10px 10px 0 rgba(207, 34, 31, 0.5)) drop-shadow(-10px -10px 0 rgba(207, 34, 31, 0.5));
        color: var(--bg-primary);
    }

    30% {
        filter: drop-shadow(0 0 0 var(--accent4)) drop-shadow(0 0 0 var(--accent4));
        color: var(--accent4);
    }

    50%,
    100% {
        filter: drop-shadow(0 0 0 rgba(0, 0, 0, 0)) drop-shadow(0 0 0 rgba(0, 0, 0, 0));
        color: var(--bg-primary);
    }
}