.game-over {
    aspect-ratio: 1;
    width: 100%;
    grid-column: 1/-1;
    display: grid;
    place-items: center;
}

.game-over__title,
.game-over__reason {
    text-shadow: var(--text-outline--black);
    filter: drop-shadow(3px 3px 0 rgba(0, 0, 0, 0.5));
}