.hudinfo {
    display: grid;
    grid-template-columns: auto 1fr;
    grid-template-rows: repeat(2, 1fr);
    column-gap: var(--spacing-l);
}

.hudinfo__icon {
    grid-row: 1/-1;
    place-self: center;
    background-color: var(--accent1);
    aspect-ratio: 1;
    width: 2rem;
    border-radius: 50%;
    padding: var(--spacing-xs);
    box-shadow: 0 0 0 4px var(--accent2), 1px 3px 12px 1px var(--black);
}

.hudinfo__info {
    grid-row: 1/-1;
    align-items: center;
}

.hudinfo__data,
.hudinfo__unit-info {
    color: var(--bg-primary);
}

.hudinfo__data {
    font-size: var(--font-size-l);
}

.hudinfo__unit-info {
    font-weight: 300;
    font-size: var(--font-size-xs);
    align-self: center;
}