.level-info {
    display: grid;
    place-items: center;
    transform-origin: left;
}

.level-info__message {
    font-weight: 700;
    font-size: var(--font-size-m);
    padding: var(--spacing-m);
    border-radius: var(--spacing-m);
    box-shadow: var(--3d-shadow), 2px 2px 4px 0 rgba(0, 0, 0, 0.4);
    border: 2px solid black;
}

.level-info__message--running {
    background-color: var(--accent1);
    color: var(--white);
    text-shadow: var(--text-outline--black);
}

.level-info__message--preparing {
    background-color: var(--accent4);
    color: var(--white);
    text-shadow: var(--text-outline--black);
}

.level-info__number {
    display: grid;
    place-items: center;
    color: var(--white);
    border-radius: 50%;
    aspect-ratio: 1;
    width: 2rem;
    font-size: var(--font-size-s);
    font-weight: 700;
    transform: translateY(calc(-1 * var(--spacing-m)));
}

.level-info__number--preparing {
    background-color: #444;
    text-shadow: var(--text-outline--black);
    /* box-shadow: 0 -2px 0 0 #BC201C, var(--3d-shadow-reverse--small); */
    box-shadow: 0 -2px 0 0 #921c18,
        0 -1px 0 1px rgba(0, 0, 0, 0.3),
        inset 1px 5px 0 0 rgba(0, 0, 0, 1),
        inset 0 1px 0 0 var(--accent4),
        inset 0 -1px 0 0 #ffffffb7,
        inset 0 -2px 0 0 black,
        inset 0 0 0 2px rgb(0, 0, 0);


}

.level-info__number--running {
    background-color: var(--bg-primary);
    text-shadow: var(--text-outline--black);
    box-shadow: 0 -2px 0 0 #ad8e01,
        0 -1px 0 1px rgba(0, 0, 0, 0.3),
        inset 1px 5px 0 0 rgba(0, 0, 0, 0.4),
        inset 0 1px 0 0 var(--accent1),
        inset 0 -1px 0 0 #ffffffb7,
        inset 0 -2px 0 0 rgba(66, 66, 66, 0.637),
        inset 0 0 0 2px rgba(0, 0, 0, 0.4);

}

.level-info--soon-to-leave {
    animation: leaving .5s linear 10 forwards;
}

@keyframes leaving {

    0%,
    100% {
        scale: 1;
    }

    50% {
        scale: 1.2;
    }
}