.jumbotron {
    --max-height: 4rem;
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    background-color: var(--white);
    width: 100%;
    padding: var(--spacing-l);
    border-radius: var(--spacing-m);
    position: relative;
}

.jumbotron::after {
    content: "";
    width: 2px;
    height: 100%;
    max-height: calc(var(--max-height) - var(--spacing-l));
    background-color: var(--light-gray);
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

/* Andra komponenters placering i jumbotron */
.level-info {
    position: absolute;
    left: 50%;
    top: calc(-1 * var(--spacing-xxxl));
    transform: translate(-50%);
    z-index: 2;
}

.jumbotron-info-field:last-of-type {
    justify-self: end;
}