.ability {
    width: 100%;
    max-width: 7rem;
    aspect-ratio: 1;
}

.ability--disabled {
    filter: grayscale(1);
    opacity: .5;
    pointer-events: none;
}

.ability__button {
    appearance: unset;
    background-color: var(--off-white);
    border-radius: .5rem;
    width: 100%;
    height: 100%;
    border: 2px solid black;
    filter: drop-shadow(2px 2px 0 rgba(0, 0, 0, 0.5));
    box-shadow: var(--3d-shadow);
}

.ability__button--speed-active,
.ability__button--joker-active {
    background-color: var(--accent1);
    overflow: hidden;
    animation: pressedAbility cubic-bezier(0.175, 0.885, 0.32, 1.275) .3s 1, activeAbility linear .3s 2;
}

.ability__button--speed-active .ability-button__image,
.ability__button--joker-active .ability-button__image {
    animation: turboActivated cubic-bezier(0.175, 0.885, 0.32, 1.275) .4s 1
}

.ability__button--speed-active .ability-button__name {
    animation: grayOutName ease-in-out .2s 1
}

@keyframes grayOutName {

    0% {
        background-color: var(--bg-primary);
    }

    100% {
        background-color: gray;
    }
}

@keyframes turboActivated {

    0%,
    100% {
        transform: skewX(0);
    }

    33% {
        transform: skewX(5deg)
    }

    66% {
        transform: skewX(-5deg)
    }
}

@keyframes pressedAbility {

    0%,
    100% {
        scale: 1;
    }

    50% {
        scale: .95;
    }
}

@keyframes activeAbility {

    0%,
    100% {
        background-color: var(--accent1);
    }

    50% {
        background-color: var(--accent2);
    }
}

.ability__button--disabled {
    opacity: .5;
    filter: grayscale(1);
    pointer-events: none;
}

.ability-button__image {
    width: clamp(3.5rem, 19vw, 4.5rem);
    padding: var(--spacing-xs);
    border: 2px solid var(--gray);
    background-color: var(--off-white);
    filter: drop-shadow(2px 2px 0 var(--gray));
    box-shadow: var(--3d-shadow);
    border-radius: 4px;
    aspect-ratio: 1;
    z-index: 999;
    position: relative;
    object-fit: contain;
}

.ability__button--turbo-suggestion .ability-button__image {
    animation: goSpeedGo .5s linear .1s infinite;
}

@keyframes goSpeedGo {

    0%,
    100% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.05);
    }
}

/* .ability--byt .ability-button__image {
    background-color: var(--light-gray);
    border: 2px solid var(--gray);
    border-radius: 4px;
    aspect-ratio: 1;
    filter: drop-shadow(2px 2px 0 var(--gray));
}

.ability--lugn .ability-button__image {
    max-width: 3.5rem;
    filter: drop-shadow(2px 2px 0 rgba(0, 0, 0, 0.5));
} */

/* .ability--turbo .ability-button__image,
.ability--byt .ability-button__image,
.ability--lugn .ability-button__image {
    max-width: 4.5rem;
    width: 100%;
    border: 2px solid var(--gray);
    background-color: var(--off-white);
    filter: drop-shadow(2px 2px 0 var(--gray));
    box-shadow: var(--3d-shadow);
    border-radius: 4px;
    aspect-ratio: 1;
    z-index: 999;
    position: relative;
} */

.ability-button__name {
    transform: translateY(calc(-1 * var(--spacing-m)));
    width: 80%;
    justify-self: center;
    text-align: center;
    background-color: var(--bg-primary);
    border: 1px solid var(--accent3);
    padding: var(--spacing-xs);
    color: var(--white);
    border-radius: var(--spacing-s);
    font-size: var(--font-size-s);
    font-weight: 500;
    box-shadow: var(--3d-shadow);
    text-shadow: var(--text-outline--black);
    filter: drop-shadow(2px 2px 0 rgba(0, 0, 0, 0.25));
    border: 2px solid black;
    margin: 0 auto;
}

.ability-button__name--disabled {
    background-color: gray;
}

.ability-button__name--warning {
    background-color: var(--accent4);
}

.ability-button__name--turbo-suggestion {
    animation: victoryRoad 2s linear infinite;
    background-color: var(--accent1);
    background: linear-gradient(90deg, rgba(255, 229, 119, 1) 0%, rgba(253, 204, 0, 1) 50%, rgba(253, 156, 0, 1) 100%);
    background-size: 200% 100%;
}

@keyframes victoryRoad {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}

@media (hover: hover) and (pointer: fine) {
    .ability {
        transform: translateY(-2px);
        cursor: pointer;
    }

    .ability__button {
        cursor: pointer;
    }

    .ability__button--disabled,
    .ability-button__name--disabled {
        cursor: not-allowed;
    }
}