.game-board {
    position: relative;
    display: grid;
    place-self: start center;
    gap: 1px;
    width: 100%;
    aspect-ratio: 1;
    grid-template-rows: repeat(5, minmax(0, 1fr));
    grid-template-columns: repeat(5, minmax(0, 1fr));
    background-color: var(--bg-primary);
    border-radius: var(--spacing-s);
    border: 2px solid var(--black);
}