.game-board {
    display: grid;
    place-self: start center;
    gap: 0;
    width: 100%;
    aspect-ratio: 1;
    grid-template-rows: repeat(5, minmax(0, 1fr));
    grid-template-columns: repeat(5, minmax(0, 1fr));
    background-color: var(--gray);
    border-radius: var(--spacing-s);
    border: 2px solid var(--black);
}