:root {
  --bg-primary: #017A36;
  --bg-primary--light: #01A648;
  --bg-primary--dark: #00622B;
  --bg-gamesquare: #d2d6bc;

  --white: #fff;
  --off-white: #f0f0f0;
  --light-gray: #E4E4E4;
  --gray: #514D4D;
  --black: #120C03;

  --3d-shadow: inset 2px 2px 0 0 rgba(255, 255, 255, 0.2), inset -3px -3px 0 0 rgba(0, 0, 0, 0.15);
  --3d-shadow-big: inset 3px 3px 0 0 rgba(255, 255, 255, 0.2), inset -4px -4px 0 0 rgba(0, 0, 0, 0.15);
  --3d-shadow-reverse: inset -3px -3px 0 0 rgba(255, 255, 255, 0.2), inset 2px 2px 0 0 rgba(0, 0, 0, 0.35);
  --3d-shadow-reverse--small: inset -1px -1px 0 0 rgba(255, 255, 255, 0.2), inset 2px 2px 0 0 rgba(0, 0, 0, 0.35);

  --accent1: #FDCC00;
  --accent2: #FFEFB4;
  --accent3: #61BC81;
  --accent4: #CF231F;

  --bread-font: Arial, sans-serif;
  --font-size-xs: 0.75rem;
  --font-size-s: 0.875rem;
  --font-size-m: 1rem;
  --font-size-l: 1.25rem;
  --font-size-xl: 1.5rem;

  --text-outline--black: 1px 1px var(--black), -1px -1px var(--black), 1px -1px var(--black),
    -1px 1px var(--black);
  --text-outline--white: 1px 1px var(--white), -1px -1px var(--white), 1px -1px var(--white),
    -1px 1px var(--white);
  --text-outline--accent-2: 1px 1px var(--accent2), -1px -1px var(--accent2), 1px -1px var(--accent2),
    -1px 1px var(--accent2);

  --spacing-xs: .25rem;
  --spacing-s: .5rem;
  --spacing-m: .75rem;
  --spacing-l: 1rem;
  --spacing-xl: 1.5rem;
  --spacing-xxl: 1.75rem;
  --spacing-xxxl: 2rem;
  --spacing-xxxxl: 3rem;

  --app-padding-block: var(--spacing-xxl) var(--spacing-s);
  --app-padding-inline: var(--spacing-m);
  --max-width: 450px;
  --max-height: 820px;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  /* outline: 1px solid red; */
}

body {
  font-family: var(--bread-font);
  display: grid;
  background: linear-gradient(to top, var(--bg-primary), var(--bg-primary--dark));
  background-color: var(--bg-primary);
  color: var(--white);
  height: 100svh;
}

body * {

  user-select: none;
  -ms-user-select: none;
  -moz-user-select: none;
  -webkit-user-drag: none;
  -webkit-user-select: none;

}

.wrapper {
  display: grid;
  place-items: center;
  max-width: var(--max-width);
  width: 100%;
  height: 100%;
  padding-inline: var(--app-padding-inline);
  margin: auto;
  /* outline: 2px solid red; */
}


.d-none {
  display: none !important;
}

@media screen and (max-width: 330px) {
  html {
    font-size: 14px;
  }
}

@media screen and (max-height: 830px) {
  .wrapper {
    padding-inline: var(--spacing-xxl);
  }
}

/* @media screen and (min-height: 700px) {
  .wrapper {
    padding-bottom: 4rem;

  }
}

@media screen and (min-height: 800px) {
  .wrapper {
    padding-block: 2rem 4rem;

  }
} */