.indicator-sign {
    --after-bg-color: transparent;
    --after-size: .6rem;
    --after-offset: calc(var(--after-size) / 2);
    position: absolute;
    z-index: 999;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: .85rem;
    color: var(--white);
    text-shadow: var(--text-outline--black);
    background-color: var(--after-bg-color);
    padding: var(--spacing-xs) var(--spacing-s);
    font-weight: bold;
    width: fit-content;
    filter: drop-shadow(1px 1px 2px var(--gray));
    border-radius: 2px;
}

.indicator-sign::after {
    position: absolute;
    content: "";
    width: var(--after-size);
    height: var(--after-size);
    background-color: var(--after-bg-color);
    top: var(--after-top, unset);
    bottom: var(--after-bottom, unset);
    left: var(--after-left, unset);
    right: var(--after-right, unset);
    transform: var(--after-transform, none);
    z-index: -1;
}

.indicator-sign--green {
    --after-bg-color: var(--accent1);
}

.indicator-sign--yellow {
    --after-bg-color: var(--accent4);
}

.indicator-sign--down {
    --after-bottom: calc(-1 * var(--after-offset));
    --after-left: 50%;
    --after-transform: translateX(-50%) rotate(45deg);
    animation: down 1.5s infinite ease-in-out forwards;
}

.indicator-sign--up {
    --after-top: calc(-1 * var(--after-offset));
    --after-left: 50%;
    --after-transform: translateX(-50%) rotate(45deg);
    animation: up 1.5s infinite ease-in-out forwards;
}

.indicator-sign--left {
    --after-left: calc(-1 * var(--after-offset));
    --after-top: 50%;
    --after-transform: translateY(-50%) rotate(45deg);
    animation: leftAnimation 1.5s infinite ease-in-out forwards;
}

.indicator-sign--right {
    --after-right: calc(-1 * var(--after-offset));
    --after-top: 50%;
    --after-transform: translateY(-50%) rotate(45deg);
    animation: rightAnimation 1.5s infinite ease-in-out forwards;
}

@keyframes up {

    0%,
    100% {
        top:
            40%
    }

    50% {
        top: 30%
    }

}

@keyframes down {

    0%,
    100% {
        top: 60%
    }

    50% {
        top: 70%
    }

}

@keyframes leftAnimation {

    0%,
    100% {
        left: 60%
    }

    50% {
        left: 50%
    }

}

@keyframes rightAnimation {

    0%,
    100% {
        left: 40%
    }

    50% {
        left: 50%
    }

}